// variables

$header-gradient: linear-gradient(
  -90deg,
  rgba(9, 152, 103, 1) 0%,
  rgba(207, 184, 61, 1) 100%
);

.header {
  background: rgb(9, 152, 103);
  background: $header-gradient;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    width: 320px;
    height: 60px;
  }
  .navbar {
    &__list {
      list-style: none;
      color: white;
      display: flex;
      align-items: center;
    }
    &__item {
      margin-right: 2rem;
      position: relative;
      cursor: pointer;
      &--dot::after {
        content: '';
        position: absolute;
        bottom: -10%;
        right: -30%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: orange;
        border: 1px solid white;
      }
    }
    &__item > span {
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px;
  padding-right: 300px;
}

.sidebar {
  display: flex;
  align-items: center;
  .navbar {
    &__list {
      list-style: none;
    }
    &__item {
      position: relative;
      cursor: pointer;
      margin-bottom: 3rem;
    }
    &__item > span {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

.userinfo {
  box-shadow: 0px 2px 29px -5px rgba(0, 0, 0, 0.1);
  width: max-content;
  height: max-content;

  &__tab {
    display: inline-block;
    background-color: lightgrey;
    padding: 10px 100px;
    cursor: pointer;
    &--selected {
      background-color: white;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
  }
  &__tab1 {
    width: max-content;
    align-self: center;
    margin-top: 3rem;
  }
  &__name,
  &__address {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  &__country {
    height: 40px;
    width: 92%;
  }
  &__password {
    font-size: 0.65rem !important;
    margin: 0 !important;
    width: 100% !important;
    padding: 0.8rem !important;
  }

  &__tab2 {
    padding: 3rem;
  }

  &__submit {
    background: black;
    padding: 1rem 0;
    border: none;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    &--disabled {
      background: lightgray;
      cursor: not-allowed;
    }
  }

  &__error {
    color: red;
    margin-left: 1rem;
  }
}

label {
  margin-bottom: 1rem;
  display: block;
}
input {
  border: 1px solid black;
  padding: 0.8rem;
  width: 15rem;
  display: block;
  transition: all 0.2s;
  margin-bottom: 2rem;
  text-align: left;
}
.ReactPasswordStrength {
  border: 1px solid black !important;
  margin-bottom: 2rem !important;
}
.ReactPasswordStrength-strength-desc {
  font-size: 0.65rem;
}
